/* Estilos para la imagen del título */
.titulo-imagen-container {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.titulo-imagen {
  width: 100%;
  max-width: 800px;
  height: auto;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .titulo-imagen-container {
    left: 50%; /* Centramos horizontalmente */
    transform: translateX(-50%); /* Centramos horizontalmente */
    top: 0px;
  }
}

/* Estilos para el contenedor del texto emoticonos */
.emoticonos-container {
  text-align: center;
  padding: 40px; /* Reducimos el espaciado interno */
  position: fixed;
  top: 380px; /* Ajustamos la posición vertical */
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8; /* Agregamos un fondo de color */
  width: 80%; /* Ajustamos el ancho */
  max-width: 600px; /* Limitamos el ancho máximo */
  border-radius: 8px; /* Agregamos bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregamos una sombra */

  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    top: 22%; /* Ajustamos la posición vertical */
  }
}

/* Estilos para el contenedor del resultado del PDF */
.pdf-result-container {
  width: 50%; /* Ajustamos el ancho */
  max-height: 420px; /* Reducimos la altura máxima */
  overflow-y: auto;
  margin: 10px auto; /* Agregamos margen alrededor del contenedor */
  padding: 20px;
  border: 3px solid #ccc;
  border-radius: 8px;
  background-color: #fff;

  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    width: 90%; /* Reducimos el ancho */
    max-height: 330px;
  }
}


/* Estilos para el contenedor del PDF */
.pdf-container {
  text-align: center;
  position: fixed;
  top: 650px; /* Ajustamos el margen superior */
  left: 50%; /* Centramos horizontalmente */
  transform: translateX(-50%); /* Centramos horizontalmente */
  width: 80%; /* Definimos un ancho */

  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    top: 55%; /* Ajustamos el margen superior */
    max-height: 60%; /* Reducimos la altura máxima */
    overflow-y: auto; /* Agregamos desplazamiento vertical */
  }
}

